<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <h1 th:text="${post.getTitle()}">Title</h1>
  <div class="sub-header">
    <span th:text="${post.getUsername()}">작성자</span>
    <div class="post-menu">
      <span th:onclick="'location.href=\'/posts/edit/' + ${post.getPostId()} + '\''">수정하기</span>
      <span th:onclick="'location.href=\'/posts/edit/' + ${post.getPostId()} + '\''">삭제하기</span>
    </div>
  </div>
  <p th:text="${post.getContent()}">contents</p>
</div>
</body>
</html>