<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/details/post.css}">
</head>
<body>
<div>
  <div class="sub-header">
    <h2 th:text="${post.getTitle()}">Title</h2>
    <div class="sub-menu">
      <span class="username" th:text="'작성자: ' + ${post.getUsername()}">작성자</span>
      <div class="post-menu">
        <span th:onclick="'location.href=\'/posts/edit/' + ${post.getPostId()} + '\''">수정하기
        </span>
        <span th:onclick="'location.href=\'/posts/delete/' + ${post.getPostId()} + '\''">삭제하기
        </span>
      </div>
    </div>
  </div>
  <p th:text="${post.getContent()}">contents</p>
  <div class="comment-container">
    <h3>Comments</h3>
    <label>
      <form th:action="'/posts/comment/' + ${post.getPostId()}" th:object="${comment}"
            method="post">
        <input th:field="*{content}" id="content" class="new-comment" placeholder="add comment..."
               type="text"/>
        <button id="comment-button" class="comment-button" type="submit">등록</button>
      </form>
    </label>
    <div class="comments" th:each="comment: ${comments}" th:id="${comment.getCommentId()}">
      <div class="comment-info">
        <span class="comment-user" th:text="${comment.getUsername()}"></span>
        <span class="comment-content" th:text="${comment.getContent()}"></span>
        <span class="comment-date" th:if="${comment.getUpdateDate() != null}"
              th:text="${comment.getUpdateDate()}"></span>
        <span class="comment-date" th:unless="${comment.getUpdateDate() != null}"
              th:text="${comment.getCommentDate()}"></span>
      </div>
      <div class="comment-utils"
           th:if="${session.user != null} and ${session.user.getUserId()} == ${comment.getUserId}">
        <span id="change-comment" class="change-comment">수정</span>
        <span id="delete-comment" class="delete-comment">삭제</span>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">
  /* 댓글 삭제 이벤트 리스너 */
  const deleteComments = document.getElementsByClassName("delete-comment");
  Array.from(deleteComments).forEach((deleteComment) => {
    deleteComment.addEventListener("click", (e) => {
      const commentId = e.target.parentElement.parentElement.id;
      const postId = [[${post.getPostId()}]];
      const url = `/posts/comment/${postId}?comment_id=${commentId}`;
      fetch(url, {
        method: 'delete'
      }).then((response) => {
        if (!response.ok) {
          throw new Error("server error");
        }
        window.location.reload();
      }).catch(error => console.error('Error:', error));
    })
  })

  /* 댓글 수정 이벤트 리스터 */
  const changeComments = document.getElementsByClassName("change-comment");
  Array.from(changeComments).forEach((changeComment) => {
    changeComment.addEventListener("click", (e) => {
      const commentId = e.target.parentElement.parentElement.id;
      const commentContent = e.target.parentElement.previousElementSibling.querySelector(
          '.comment-content');

      console.log(commentId);
      const input = document.createElement('input');
      input.type = 'text';
      input.value = commentContent.innerText;
      input.id = 'input-content-' + commentId;

      commentContent.parentNode.replaceChild(input, commentContent);

      // Replace the span with the input
      const saveButton = document.createElement('button');
      saveButton.innerText = 'Save';
      saveButton.addEventListener('click', () => {
        submitCommentUpdate(commentId, input.value);
        // Replace the input with the updated span when saving
        commentContent.innerText = input.value;
        input.parentNode.replaceChild(commentContent, input);
        // Remove the save button after saving
        saveButton.parentNode.removeChild(saveButton);
      });
      input.parentNode.insertBefore(saveButton, input.nextSibling);

    })
  })
  const submitCommentUpdate = (commentId, updatedContent) => {
    const postId = [[${post.getPostId()}]];
    const url = `/posts/comment/${postId}?comment_id=${commentId}`;
    fetch(url, {
      method: 'put',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({content: updatedContent})
    }).then((response) => {
      if (!response.ok) {
        throw new Error("server error");
      }
      window.location.reload();
    }).catch(error => console.error('Error:', error));
  }
</script>
</body>
</html>