<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Log in</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/form/form.css}">
</head>
<body>
<script th:inline="javascript">
  window.onload = () => {
    const waringMsg = [[ ${warningMsg}]];
    if (waringMsg) {
      alert(waringMsg);
    }
  }

</script>
<form action="profile.html" th:action th:object="${user}" method="post">
  <label for="username">username</label>
  <input type="text" id="username" th:field="*{username}" class="user-input"
         placeholder="username">
  <label for="password">password</label>
  <input type="password" id="password" th:field="*{password}" class="user-input"
         placeholder="password">
  <div>
    <button>등록</button>
  </div>
</form>
</body>
</html>
