<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sign in</title>
</head>
<body>
  <form action="user.html" th:action  th:object="${user}" method="post">
    <label for="username">username</label>
    <input type="text" id="username" th:field="*{username}" class="user-input" placeholder="사용할 이름을 입력하세요">
    <label for="password">password</label>
    <input type="password" id="password" th:field="*{password}" class="user-input">
    <label for="email">email</label>
    <input type="email" id="email" th:field="*{email}" class="user-input">
    <button>등록 </button>
  </form>
</body>
</html>
