/* Style for the main content of the post */
p {
  padding: 15px;
  line-height: 1.6;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 24px; /* Larger font size for the title */
}

/* Style for the user information */
span.user {
  font-size: 14px;
  color: #555;
  display: block; /* makes the username appear on a new line */
  margin-bottom: 5px;
}

/* Style for the content block */
p.content {
  font-size: 16px;
  color: #666;
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px; /* adds space between the user info and the content */
}


/* Style for the subtitle or sub-header */
.sub_header {
  font-size: 0.9em;
  color: #777;
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
}

.sub-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* Style for the post menu which may contain actions like edit or delete */
.post-menu {
  text-align: right;
  padding: 5px 15px;
}

/* Style for each clickable action in the post menu */
.post-menu span {
  cursor: pointer;
  color: #337ab7;
  margin-left: 10px;
}

/* 댓글 컨테이너 style ------------------------------------*/

/* Style for the comment container */
.comment-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style for each comment */
.comments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding: 10px 0;
}

/* Style for the comment user */
.comment-user {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

/* Style for the comment content */
.comment-content {
  font-size: 1rem;
  color: #333;
}

/* Style for the comment info, such as username and date */
.comment-info {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: #666;
  margin-top: 5px;
}

/* Style for the comment utilities like edit and delete */
.comment-utils {
  margin-top: 10px;
}

.comment-utils span {
  cursor: pointer;
  color: #007bff;
  margin-right: 15px;
}

/* Hover effect for utility buttons */
.comment-utils span:hover {
  text-decoration: underline;
}

/* Style for the input field to add a new comment */
.new-comment {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the '등록' button */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

